<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="strconn" value="server=182.254.139.173,4004;UID=dxwang;PWD=***173;database=UTradeMaster;Connect Timeout=2" />
		<add key="kdatastrconn" value="server=182.254.139.173,4004;UID=dxwang;PWD=***173;database=UTradeData;Connect Timeout=2" />
		<add key="RedisHost" value="182.254.139.173:6278,password=***173,defaultDatabase=0,poolsize=50,ssl=false,preheat=false,idleTimeout=3000" />
		<add key="account" value="020871" />
		<add key="symbol" value="pp2105" />
		<add key="period" value="sec15,sec100" />
		<add key="Minimized" value="1" />
		<add key="sound" value="1" />
		<add key="AlertForm" value="1" />
		<add key="autologin" value="1" />
		<add key="Plus_signal_active" value="1" />
		<add key="Fut_Symbols_maxsxf" value="5" />
		<add key="Quote" value="tcp://zjzx-md1.ctp.shcifco.com:21213$8070" />
		<add key="spareQuote" value="tcp://ctp1-md1.citicsf.com:43213$666666" />
		<add key="SupportType" value="1" />
		<add key="MaxStopPoint" value="99" />
		<add key="CostStopLoss" value="6" />
		<add key="simnowTrade" value="tcp://180.168.146.187:10101" />
		<add key="huaanTrade" value="tcp://180.166.37.178:41207" />
		<add key="OrderInsert" value="1" />
		<add key="log_ReadDB" value="1" />
		<add key="maxbzj" value="9000" />
		<add key="maxsxf" value="13" />
		<add key="Update_LastSymbols" value="1" />
		<add key="TClient" value="1" />
		<add key="server" value="0" />
		<add key="client" value="1" />
		<add key="formAlert" value="err|test|拒绝|添加|平" />
		<add key="tjdsound" value="条件单|test" />
		<add key="ttjdsound" value="触发条件单" />
	</appSettings>
	<!--219.235.0.2-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
</configuration>
<!--tcp://180.168.146.187:10031$9999-->
<!--180.168.146.187:10031；【7x24】-->
<!--tcp://front112.ctp.gtjafutures.com:41213$7090-->
<!--第一组：Trade Front：180.168.146.187:10000，Market Front：180.168.146.187:10010；【电信】-->
<!--第二组：Trade Front：180.168.146.187:10001，Market Front：180.168.146.187:10011；【电信】-->
<!--第三组：Trade Front：218.202.237.33:10002，Market Front：218.202.237.33 :10012；【移动】-->